# Игнорировать папки static, static-dev и html
hotel_managment/static/
hotel_managment/static-dev/
hotel_managment/html/

# Игнорировать файлы, сгенерированные Django
*.pyc
__pycache__/
*.sqlite3

# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать базу данных
*.sqlite3

# Игнорировать миграции (кроме __init__.py)
*/migrations/*
!*/migrations/__init__.py


# Игнорировать сгенерированные статические файлы
staticfiles/

# Игнорировать кэш Python
__pycache__/
*.pyc